<<<<<<< HEAD
<h1 class="text-center mt-4">{{title}}</h1>
<div class="container">
    {{#each members}}
    <ul class="list-group">
        <li class="list-group-item">{{this.name}}: {{this.email}}</li>
    </ul>
    {{/each}}
=======
<h1 class="text-center text-primary mt-4">{{title}}</h1>
<div class="container">
    <h4>Members data:</h4>
    <ul class="list-group">
        {{#each members}}
        <li class="list-group-item">{{this.name}}: {{this.email}}</li>
        {{/each}}
    </ul>
>>>>>>> e65c8530955aded15a5e28be0937b738849593ba
</div>